* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #E5E5E5;
}

main {
    width: 50%;
    margin: 0 15%;
}

.section-login {
    display: flex;  
    justify-content: space-between;
    padding: 40px 45px;   
}

.logo {
    margin: 70px 0;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    object-fit: cover;
    filter: grayscale(90%);
} 

.form-login {
    width: 300px;
    margin: 100px auto;
    padding: 10px;
}

fieldset {
    font-size: 18px;
    text-transform: uppercase;
    padding: 15px 30px;
    border: 1px solid rgba(114, 47, 2, 0.4);
    color: rgba(0, 0, 0, 0.7);
    background-color: #E5E5E5;
    border-radius: 10px;
}

legend {
    background-color: rgba(101, 53, 15, 0.9);
    padding: 10px;
    color: white;
    border-radius: 10px;
}

label {
    display: block;
    margin: 20px 0 0;
}

input {
    border: 0;
    width: 100%;
    border-bottom: 1px solid rgba(114, 47, 2, 0.4);
    background-color: transparent;
}

input:focus {
    border: 0;
    outline: 0;
}

#btn {
    background-color: rgba(101, 53, 15, 0.9);
    padding: 10px;
    color: white;
    border: 0;
    margin-top: 20px;
    border-radius: 10px;
    width: 50%;
    margin: 2vh 8vh ;
}