* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow: hidden;
    background-color: #F8F8FF;
}

.container-section {
    border: 1px solid #C4C4C4;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 1px 1px 3px rgb(0, 0, 0,0.6);
    max-width: 1000px;
    width: 100%;
}

.container-section .div-titulo {
    padding: 4%;
    display: flex;
    justify-content: center;
}

.container-section .div-titulo h1 {
    background-color: rgba(101,53,15,0.76);
    padding: 20px 100px;
    border-radius: 20px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.3);
}

.container-section .form-container .form-content {
    display: flex;
    justify-content: space-between;
}

.container-section .form-container .form-content fieldset  input {
    border-bottom: 1px solid #C4C4C4;
    margin-bottom: 10px;
    height: 30px;
    background: transparent;
}

.container-section .form-container .form-content fieldset  select {
    border-bottom: 1px solid #C4C4C4;
    height: 50px;
    font-weight: bold;
}

.container-section .form-container .form-content fieldset  select:focus {
    border: 0 0 1px;
    outline: 0;
}

.container-section .form-container .form-content fieldset  input:focus {
    border: 0 0 1px;
    outline: 0;
}

.container-section .form-container .form-content fieldset label {
    text-transform: uppercase;
    color: rgba(0,0,0,0.8);
    font-weight: bold;
}

.container-section .form-container .form-content #coluna1 {
    display: flex;
    flex-direction: column;
    max-width: 44%;
    width: 100%;
    margin: 4%;
}

.container-section .form-container .form-content #coluna2 {
    display: flex;
    flex-direction: column;
    max-width: 44%;
    width: 100%;
    margin: 4%;
}

.container-section .botoes {
    margin: 0 4% 4%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.container-section .form-container .botoes input {
    background-color: rgba(101,53,15,0.76);
    padding: 20px 70px;
    border-radius: 20px;
    font-size: 20px;
    color: white;
    transition: all 1s;
    text-transform: uppercase;
}

.container-section .form-container .botoes input:hover {
    background-color: rgba(101,53,15,1);
}

.container-section .form-container .botoes a {
    text-decoration: none;
    font-size: 20px;
    color: rgb(124, 67, 20);
}

.container-section .form-container .botoes a:hover {
    color: rgb(51, 28, 9);
}