* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #F8F8FF;
}

.container-list {
    border: 1px solid #C4C4C4;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 1px 1px 3px rgb(0, 0, 0,0.6);
    max-width: 1000px;
    width: 100%;
    padding: 30px;
}

.container-list .container-list-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-list .container-list-header .titulo {
    padding-bottom: 30px;
    text-transform: uppercase;
    color:rgba(0, 0, 0,0.77);
    text-align: center;
}

.container-list .container-list-header .titulo a {
    text-decoration: none;
    color: rgba(0, 0, 0,0.77);
}

.container-list .container-list-header .titulo a:hover {
    color: rgba(82, 82, 82, 0.77);
}

.container-list .container-list-header form {
    max-width: 900px;
    width: 100%;
}

.container-list .container-list-header form .campo-pesquisar {
    border: 1px solid rgba(0, 0, 0,0.77);
    border-radius: 20px;
    max-width: 40%;
    height: 40px;
    display: flex;
    align-items: center;
    background-color: rgba(161, 118, 78,0.7);
    margin: 0 auto;
}


.container-list .container-list-header form .campo-pesquisar img {
    margin-left: 10px;
}

.container-list .container-list-header form .campo-pesquisar input {
    background-color: transparent;
    height: 40px;
    padding-left: 10px;
}

.container-list .container-list-header form .campo-pesquisar input:focus {
    border:0;
    outline: 0;
}

.container-list .container-list-header form .campo-pesquisar input::placeholder {
    color: white;
}

main section {
    padding: 50px;
    width: 100%;
    margin: 0 auto;
}

section table {
    border-collapse: collapse;
    margin: 0;
    width: 100%;
    text-align: center;
    border: solid #ccc 1px;
}

section table thead {
    border-bottom: 1px solid rgb(116, 94, 74);
    background-color: rgb(186,156,130);
}

section table thead tr th {
    padding: 20px;
    font-size: 20px;
    color: white;
    text-transform: uppercase;
}

/* corpo da tabela */
section table tbody .infos_livro {
    border-bottom: 1px solid rgb(116, 94, 74);
    border-top: 1px solid rgb(116, 94, 74);
}

section table tbody .infos_livro a {
    text-decoration: none;
}

section table tbody tr td {
    text-align:center;
    font-size: 20px;
    color:rgba(0, 0, 0,0.9);
}

section table tbody .infos_adicionais {
    display: flex;
    flex-direction: column;
}  

section table tbody .infos_adicionais ul {
    text-align: start;
    padding-left: 25px;
}

section table tbody .infos_adicionais ul li {
    list-style-type: none;
}

section table tbody .infos_adicionais {
    overflow: hidden;
    max-height: 0;
}

section table tbody .infos_adicionais.active {
    overflow: visible;
    max-height: 200px;
}
